.animals {
padding: 4em 0;
background: #b2f49f;


&__title {
color: rgba($clr-title, .8);
text-align: center;
text-transform: uppercase;
font-size: 1.2rem;
letter-spacing: 2px;

@include mq(medium) {
font-size: 1.8rem;
padding-bottom: 2em;
}
}
}



.cards {
display: grid;
text-align: center;
margin: 1em;


@include mq(medium) {
grid-template-columns: repeat(3,1fr);
}
@include mq(large) {
@include container($width: 70%);
}
}



.card {
background: #68bc68;
padding: 2em 1.5em;
position: relative;
border: .8em solid $clr-yellow;

margin: 1em auto;
display: flex;
flex-direction: column;
justify-content: center;
place-items: center;

@include mq (small) {
    max-width: 400px;    
}



&__title {
color: $clr-title;
letter-spacing: 2px;
}

&__text {
color: rgba($clr-yellow, .9);
padding: .5em;
}

 
}

.accent {
@include mq(medium) {
padding-top: 4em;
padding-bottom: 4em;
margin-top: -2em;

}
}



.deco {
position: relative;
top: -1em;
max-width: 60px;
margin: 0 auto;

}

.fish {
align-items: flex-start;
@include mq(medium) {
max-width: 300px;
}
}

.btn {
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
padding: .8em 1.5em;
display: inline-block;
margin-top: 1em;
background: $clr-yellow;
color: rgba($clr-title, .7);
transition: background 350ms;

&:hover, &:focus {
background: darken($clr-yellow, 5)
} 
}

