footer {
position: relative;
background: #c8f4b3;
height: 80vh;
}

.fot-img {
position: absolute;
left: 0;
right: 0;
bottom: 0;

}

.fox2 {
    position: absolute;
    right: 0em;
    display: none;

    @include mq (large) {
    bottom: 2em;
    display: block;
    height: 85px;
    width: 160px;
    }

    @include mq (xl) {
    bottom: 3em;
    height: 90px;
    width: 180px;
           
      
    }

    

}