footer {
position: relative;
background: #c8f4b3;
height: 30vh;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

font-family: $ff-permanent;
@include mq(medium) {
height: 70vh;
}

h2 {
font-size:  1.3rem;
@include mq(medium) {
font-family: $ff-permanent;
font-size: 2rem;
}
}
}

.footer__text {
font-size: .8rem;
padding-top: 1em;
}



.fot-img {
position: absolute;
left: 0;
right: 0;
bottom: 0;

}

.fox2 {
    position: absolute;
    right: 0em;
    display: none;

    @include mq (large) {
    bottom: 2em;
    display: block;
    height: 85px;
    width: 160px;
    }

    @include mq (xl) {
    bottom: 3em;
    height: 90px;
    width: 180px;
           
      
    }

    

}