.hero {
height:95vh;
background-image: url(../img/hero2.png);
@include bg;
background-attachment: fixed;
position: relative;
@include mq(medium) {
@include container($width: 90%);
}
}

.title-img {
position: absolute;
left: 0;
right: 0;
bottom: 30%;
margin: 0 auto;
max-width: 80%;


@include mq(medium) {
width: 700px;
bottom: 2em;
}
@include mq(large) {
width: 800px;
bottom: 3.5em;
}
}

.grass-img {
display: none;
@include mq(medium) {
display: block;
position: absolute;
left: 0;
right: 0;
bottom: 0;
}
}