nav {
position: absolute;
left: 100%;
right: 0;
top: 0;
z-index: 1;
background: rgba(green(medium), .8);
height: 95vh;


transition: left ease-in-out 350ms;
overflow-x: hidden;
@include mq(small) {
left: 0;
top: 0;
position: fixed;
height: 7vh;
transition: top .3s;
background: rgba(green(medium), .2);
}


ul {
margin: 0;
padding: 0;
list-style: none;
display: flex;
flex-direction: column;
height: 95vh;

@include mq(small) {
flex-direction: row;
height: 7vh;
}
}

li {
flex: 1 1 auto;
display: flex;
border-bottom: 1px solid rgba($clr-orange, .4);

&:last-of-type {
border-bottom: none;
}

@include mq(small) {
border:none;
}
}

a {
text-decoration: none;
font-family: $ff-alegreya;
display: flex;
justify-content: center;
align-items: center;
flex-basis: 100%;
font-size: 1.2rem;
color: $clr-yellow;
transition: background 350ms;
@include mq(small) {
font-weight: $fw-bold;
color: green(dark);

}

&:hover, &:focus {
background: rgba($clr-yellow, .6);
color: green(dark);
}

}
}

.icon-open, .icon-close {
height: 100px;
width: 100px;
position: relative;
top: 0;
left: 0;

}

.icon-close {
display: none;
}

.icon-open {
@include mq(small) {
display: none;
}
}

.nav-is-open {
nav {
left: 27%;
display: block;
top: 0;
overflow-y: hidden;
@include mq(small) {
left: 0;

}

}

.icon-open {
display: none;
}

.icon-close {
display: block;
@include mq(small) {
display: none;
}
}
}

