$clr-yellow: #fbe8a6;
$clr-orange: #f4976c;
$clr-soft-pink: #fff4f0;

$clr-title:#192618;
$clr-card: #68bc68;

$greens: (
extra: #ccffd8,
soft: #a1ffbb,
light: #8fd1a1,
medium: #439e47,
dark: #479761,
);


$blues: (
light: #d2fdff,
medium: #b4dfe5,
);

