$ff-signika: 'Signika', sans-serif;
$ff-alegreya: 'Alegreya Sans', sans-serif;
$ff-permanent: 'Permanent Marker', cursive;
$ff-laila: 'Laila', serif;
$ff-merri: 'Merriweather', serif;
$ff-crimson: 'Crimson Text', serif;


$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extra: 800;
$fw-black: 900;